@use "../base/breakpoints" as *;
@use "../base/colors" as *;
@use "mixins" as *;

.card {
  padding: 0.625rem;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(51, 65, 85, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 20px 25px -5px, rgba(0, 0, 0, 0.05) 0px 8px 10px -6px;
  border-radius: 4px;
  background-color: #FFF;

  @media screen and (min-width: $breakpoint-m) {
    padding: 1rem;
  }
}

.container {
  max-width: 1100px;
  margin-right: 1rem;
  margin-left: 1rem;

  @media screen and (min-width: $breakpoint-m) {
    margin-right: auto;
    margin-left: auto;
  }
}

.btn-yellow {
  @include button($yellow)
}

.btn-green {
  @include button($green)
}

.btn-grey {
  @include button($grey)
}

.btn-red {
  @include button($red)
}

.text-right {
  text-align: right;
}

.monospaced-font {
  font-family: Courier;
  letter-spacing: -1px;
}

.input--error {
  border: 1px solid $red;
}

