@use "../base/breakpoints" as *;
@use "../base/colors" as *;

body,
input,
textarea {
  color: $black;
}

main {
  margin-top: -1rem;
  margin-bottom: 2rem;
  min-height: 400px;

  @media screen and (min-width: $breakpoint-m) {
    margin-top: -2rem;
    margin-bottom: 4rem;
  }
}

header {
  padding: 2rem 0;
  background-color: $black;
  background-image: url("/public/hero.jpg");
  background-size: cover;
  color: $white;

  @media screen and (min-width: $breakpoint-m) {
    padding: 5rem 0;
  }
}

svg {
  width: 0.875rem;
  height: 0.875rem;
  fill: $black;
  transition: fill .5s;
}

h1 {
  font-size: 3rem;
}
